@font-face {
  font-family: 'ProductSans-Regular';
  src: url('../fonts/ProductSans-Regular/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/ProductSans-Regular/ProductSans-Regular.otf')  format('opentype'),
	   url('../fonts/ProductSans-Regular/ProductSans-Regular.woff') format('woff'), 
	   url('../fonts/ProductSans-Regular/ProductSans-Regular.ttf')  format('truetype'), 
	   url('../fonts/ProductSans-Regular/ProductSans-Regular.svg#FuturaStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans-Bold';
  src: url('../fonts/ProductSans-Bold/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/ProductSans-Bold/ProductSans-Bold.otf')  format('opentype'),
	   url('../fonts/ProductSans-Bold/ProductSans-Bold.woff') format('woff'), 
	   url('../fonts/ProductSans-Bold/ProductSans-Bold.ttf')  format('truetype'), 
	   url('../fonts/ProductSans-Bold/ProductSans-Bold.svg#FuturaStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	color: #313131;
	padding: 0 !important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'ProductSans-Bold', sans-serif;
}
input, textarea{
	font-family: 'Raleway', sans-serif;
}
button{
	font-family: 'ProductSans-Regular', sans-serif;
	border: none;
}
.cover-image{
	overflow: hidden;
	position: relative;
}
.cover-image > img{
	position: absolute;
}


/* Header Area */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2.7rem 0 2.5rem;
}
.logo{
	width: 18%;
    margin-top: 12px;
}
.logo img{
	width: 100%;
}
nav{}
nav ul{
	list-style: none;
	margin: 1.5rem 0 0;
}
nav ul li{
	float: left;
}
nav ul li button {
    background: transparent;
    color: #fff;
    margin-left: 1.2rem;
    padding: 0.7rem 2.2rem;
}
nav ul li button:hover{}
nav ul li button.sign-in{
	background: #00C4CC;
	transition: background 0.5s ease-in-out;
}
nav ul li button.sign-in:hover{
	background: #00B5BD;
}

/* Banner Area */
.banner-area{
	background: rgb(66,133,244, 0.5);
	background: -moz-linear-gradient(top, rgba(0,38,75,0.9) 0%, rgba(0,38,75,0.9) 100%), url("../img/banner.jpg");
	background: -webkit-linear-gradient(top, rgba(0,38,75,0.9) 0%,rgba(0,38,75,0.9) 100%), url("../img/banner.jpg");
	background: linear-gradient(to bottom, rgba(0,38,75,0.9) 0%,rgba(0,38,75,0.9) 100%), url("../img/banner.jpg");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264B', endColorstr='#00264B',GradientType=0 ), url("../img/banner.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.banner-inner{
	width: 80%;
    margin: 22.5rem auto 15rem;
}
.banner-area h2,
.banner-area p{
	color: #fff;
}
.banner-area h2 {
    font-size: 5rem;
    margin: 0 0 0.45em;
}
.banner-area p {
    font-size: 2.4rem;
}

.banner-area button {
    color: #fff;
    background: #276FF1;
    padding: 1.7rem;
    margin: 2.5rem 0 0;
    text-align: center;
    width: 32%;
    font-size: 2.2rem;
}

.feature-area{
	background: #F8FAFC;
	padding: 10rem 0 9.5rem;
}
.single-feature{
	text-align: center;
	padding: 0 1.5rem;
}
.single-feature i{
	font-size: 5rem;
	color: #458DFF;
}
.single-feature h3{}
.single-feature p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.how-to-area{
	background: #EEF0F2;
	padding: 7.2rem 0 9rem;
}
.how-to-area h2{
	font-size: 4rem;
	margin-bottom: 0.4em;
}
.how-to-area h2 strong{
	color: #00B5BD;
}
.how-to-area p{
	line-height: 1.5em;
	margin: 0 0 1.1em;
}
.how-to-area .vimeo-video{
	margin: 3rem 0 0;
	width: 100%;
	background: #B8B8B8;
	width: 100%;
}
.how-to-area .vimeo-video iframe{
	display: block;
	height: 100%;
	width: 100%;
}
footer h4,
footer p{
	color: #F8FAFC;
}
footer h3{
	margin: 0 0 1.8rem;
	color: #19DDE5;
}
.upper-footer{
	background: #2D4047;
	padding: 9rem 0 9.5rem;
}
.upper-footer form{}
.upper-footer form input,
.upper-footer form textarea{
    width: 100%;
    background: #F8FAFC;
    border: none;
    font-size: 0.8em;
    overflow: hidden;
    display: block;
    padding: 1rem;
    margin: 0 0 1.1rem;
}
.upper-footer form input{}
.upper-footer form textarea{}
.upper-footer form button{
    color: #F8FAFC;
    background: #00B5BD;
    padding: 0.6rem 1.8rem;
}
.contact-info{
	display: flex;
	align-items: center;
}
.contact-map{
	width: calc(50% - 1.5rem);
	margin-right: 1.5rem;
}
.contact-map iframe{
	width: 100%;
}
.contact-text{
	width: calc(50% - 1.5rem);
	margin-left: 1.5rem;
}
.contact-text a{
	color: #19DDE5;
}
.contact-text{}
.contact-text ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.contact-text ul li{
	float: left;
	margin-right: 1rem;
	font-size: 2.5rem;
}
.contact-text ul li a{
	color: #F8FAFC;
}
.lower-footer{
	background: #1E3138;
	color: #EEF0F2;
	font-size: 1.4rem;
	padding: 2rem 0 0.8rem;
}



/* Sign In Modal */

.modal-dialog{
	width: 490px;
	margin: 80px auto 30px;
}
.modal-content{
	border-radius: 0;
	background: #F8FAFC;
	text-align: center;
	border-bottom: 0;
	border: none;
	position: relative;
	overflow: hidden;
}
.sign-in-top{
	padding: 50px 35px 38px;
}
.sign-up-top{
	padding: 50px 35px 0;
}
.sign-up-bottom {
    margin: 0 35px 38px;
    box-shadow: 0 12px 12px 0 rgba(223,225,227,0.7);
}
.modal-content .close{
	opacity: 1;
	position: absolute;
	top: 28px;
	right: 28px;
}
.modal-content .close i{
	color: #1E3138;
}
.modal-content h4{
	font-size: 3.5rem;
}
.sign-in-top form {
    padding-top: 25px;
}
.modal-content input{
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid #EEF0F2;
	font-size: 1.5rem;
	padding: 1.2rem;
	margin-bottom: 1rem;
}
.sign-in-top form button {
    font-family: "ProductSans-Regular", sans-serif;
    color: #fff;
    background: #00C4CC;
    padding: 12px 0;
    font-size: 22px;
    width: 100%;
    margin-top: 8px;
}
.sign-in-bottom{
	background: #EEF0F2;
	padding: 18px 35px 25px;
}
.sign-in-bottom p{}
.sign-in-bottom button{
	font-family: "ProductSans-Regular", sans-serif;
    color: #fff;
    background: #458DFF;
    padding: 8px 20px;
    font-size: 16px;
    margin-top: 5px;
}

/* Sign Up Modal */

.sign-up-top > p{
	margin: 0 0 15px;
}
.sign-up-steps{
	background: #EEF0F2;
	overflow: hidden;
	padding: 16px 0 15px;
	margin: 0 0 25px;
}
.single-sign-up-step{
	width: 33.33%;
	float: left;
	position: relative;
	z-index: 0;
}
.single-sign-up-step:not(:last-child):before,
.single-sign-up-step:not(:last-child):after{
	content: "";
	display: block;
	position: absolute;
	top: calc(50% - 4px);
	width: 100%;
	height: 4px;
	background: #313131;
	left: 50%;
	z-index: -1;
}
.single-sign-up-step:not(:last-child):after{
	background: #458DFF;
	transform: scaleX(0);
	transition: all 0.5s ease-in-out;
	transform-origin: left center;
}
.single-sign-up-step.stick-full:after{
	transform: scaleX(1);
}
.single-sign-up-step p:first-child{
	font-family: 'ProductSans-Regular', sans-serif;
	font-size: 1.5rem;
    margin: 0 0 0.3rem;
}
.single-sign-up-step span{
	display: block;
	height: 15px;
	width: 15px;
	margin: 0 auto;
	background: #313131;
	border-radius: 100%;
	transition: all 0.5s ease-in-out;
}
.single-sign-up-step.full span{
	background: #458DFF;
	
}
.single-sign-up-step p:last-child{
	margin: 0.7rem 0 0;
}
.sign-up-step-1 .single-step-inner{
	padding: 0 0 35px
}
.sign-up-role{
	overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.sign-up-role span {
    height: 28px;
    width: 28px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: calc(50% - 30px);
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #F8FAFC;
    padding: 3px 0 0;
    color: #777;
}
.sign-up-as{
	width: calc(50% - 2px);
	float: left;
	background: #DFE1E3;
	margin: 0 1px;
	cursor: pointer;
}
.sign-up-as h2{
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
}
.sign-up-as h2 strong{
	/*font-weight: 700;*/
	font-size: 3rem;
	font-family: 'ProductSans-Regular';
	transition: all 0.15s ease-in-out;
}
.sign-up-as:hover h2 strong{
	color: #00C4CC;
}
.single-step-inner h3{
	margin: 15px 0;
}
.sign-up-step-1 h3{
	margin: 0 0 30px;
}
.sign-up-bottom input{
	width: 100%;
}
.sign-up-field{
	overflow: hidden;
}
.sign-up-field input{
	width: calc(50% - 7px);
	float: left;
}
.sign-up-field input:nth-child(2n){
	margin-left: 14px;
}
.sign-up-step-2 .single-step-inner,
.sign-up-step-3 .single-step-inner{
	padding: 0 20px 25px;
	overflow: hidden;
}
/*.sign-up-step-2 .sign-up-field.buttons,
.sign-up-step-3 .sign-up-field.buttons{
	padding-bottom: 25px;
}*/
.sign-up-bottom button{
	background: #00C4CC;
	color: #fff;
	padding: 8px 25px;
}
.sign-up-bottom button[type="submit"]{
	background: #458DFF;
}
.sign-up-field.buttons{
	padding: 8px 0 0;
}
.sign-up-bottom form{
	position: relative;
	overflow: hidden;
}
.single-step{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}
.single-step:first-child{
	display: block;
}

/* Logged In Menu */
.logged-in-nav {
    margin-top: 13px;
}
.logged-in-nav form{
	position: relative;
}
.logged-in-nav form:after{
	content: "";
	width: 1px;
	display: block;
	background: rgb(45,64,71);
	background: -moz-linear-gradient(top, rgba(45,64,71,1) 0%, rgba(150,152,154,1) 50%, rgba(45,64,71,1) 100%);
	background: -webkit-linear-gradient(top, rgba(45,64,71,1) 0%,rgba(150,152,154,1) 50%,rgba(45,64,71,1) 100%);
	background: linear-gradient(to bottom, rgba(45,64,71,1) 0%,rgba(150,152,154,1) 50%,rgba(45,64,71,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4047', endColorstr='#2d4047',GradientType=0 );
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
.logged-in-nav input{}
.logged-in-nav input[type="text"]{
	background: transparent;
	border: 2px solid #F8FAFC;
	border-radius: 25px;
	color: #F8FAFC;
	padding: 6px 20px;
	margin: 1px 23px 0 0;
}

.logged-in-nav input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #f8fafc;
}
.logged-in-nav input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #f8fafc;
}
.logged-in-nav input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #f8fafc;
}
.logged-in-nav input[type="text"]:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #f8fafc;
}
.logged-in-nav input[type="submit"]{
	display: none;
}
.logged-in-menu{
	list-style-type: none;
	display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 20px;
}
.logged-in-menu > li{
	float: left;
}
.logged-in-menu > li > a{
	color: #fff;
	font-family: 'ProductSans-Regular', sans-serif;
}
li.user-info{
	padding-right: 19px;
}
li.user-info > a{
	display: flex;
	align-items: center;
}
li.user-info a span {
    font-size: 17px;
    margin-right: 13px;
}
.user-image{
	height: 45px;
	width: 45px;
	border-radius: 100%;
	border: 2px solid #F8FAFC;
}
li.user-settings{
	position: relative;
	padding-left: 13px;
	/*border-left: 1px solid #313131;*/
}
li.user-settings:before{
	content: "";
	width: 1px;
	display: block;
	background: rgb(45,64,71);
	background: -moz-linear-gradient(top, rgba(45,64,71,1) 0%, rgba(150,152,154,1) 50%, rgba(45,64,71,1) 100%);
	background: -webkit-linear-gradient(top, rgba(45,64,71,1) 0%,rgba(150,152,154,1) 50%,rgba(45,64,71,1) 100%);
	background: linear-gradient(to bottom, rgba(45,64,71,1) 0%,rgba(150,152,154,1) 50%,rgba(45,64,71,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4047', endColorstr='#2d4047',GradientType=0 );
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
/*.user-image img{
	width: 100%;
}*/
.logged-in-menu > li > button{
	color: #F8FAFC;
	background: transparent;
	cursor: pointer;
	margin-top: 5px;
}
.logged-in-menu > li > button:focus{
	outline: none;
}
.logged-in-menu > li > button i {
    font-size: 27px;
    transition: all 0.3s ease-in-out;
}
.logged-in-menu > li > button i.rotate{
    transform: rotate(45deg);
}
.logged-in-dropdown-menu{
	list-style-type: none;
    position: absolute;
    top: calc(100% + 25px);
    right: -8px;
    background: #fff;
    width: 180px;
    padding: 6px 3px;
    z-index: 1;
    display: none;
}
.logged-in-dropdown-menu:before{
	content: "";
	display: block;
	background: #fff;
	height: 15px;
	width: 15px;
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	right: 20px;
	z-index: -1;
}
.logged-in-dropdown-menu > li{}
.logged-in-dropdown-menu > li > a{
	font-size: 15px;
    color: #313131;
    width: 100%;
    display: block;
    padding: 9px 15px;

}
.logged-in-dropdown-menu > li > a:hover{
	text-decoration: none;
	background: #EEF0F2;
	color: #000;
}

.header-white{
	/*background: #fff;*/
	background: #FBFDFF;
	position: relative;
	box-shadow: 0 0 5px 0 rgba(49,49,49,0.4);
}
.header-white .logged-in-nav input[type="text"]{
	border: 2px solid #313131;
}
.header-white li.user-info a span{
	color: #313131;
}
.header-white .logged-in-menu > li > button i{
	color: #313131;
}
.logged-in-nav input[type="text"]{
	color: #313131;
}
.header-white .logged-in-nav input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #313131;
}
.header-white .logged-in-nav input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #313131;
}
.header-white .logged-in-nav input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #313131;
}
.header-white .logged-in-nav input[type="text"]:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #313131;
}
.header-white .logged-in-nav form:after,
.header-white li.user-settings:before{    
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(150,152,154,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(150,152,154,1) 50%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(150,152,154,1) 50%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.header-white .user-image{
	border: 2px solid #313131;
}
.header-white .logged-in-dropdown-menu:before{
	box-shadow: -2.5px -2.5px 5px 0 rgba(49,49,49,0.15);
}
.header-white .logged-in-dropdown-menu:after{
	content: "";
	position: absolute;
	box-shadow: 0 0 5px 0 rgba(49,49,49,0.4);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -2;
}
.header-white .logged-in-dropdown-menu > li > a:hover{
	background: #EEF0F2;
	color: #000;
}
.header-white .logged-in-dropdown-menu{
    top: calc(100% + 28px);
}


/* Profile Area */

.profile-info-area{
	/*background: #FBFDFF;*/
	padding: 50px 0 60px;
	background: rgb(66,133,244, 0.5);
	background: -moz-linear-gradient(top, rgba(0,38,75,0.9) 0%, rgba(0,38,75,0.9) 100%), url("../img/banner-2.jpg");
	background: -webkit-linear-gradient(top, rgba(0,38,75,0.9) 0%,rgba(0,38,75,0.9) 100%), url("../img/banner-2.jpg");
	background: linear-gradient(to bottom, rgba(0,38,75,0.9) 0%,rgba(0,38,75,0.9) 100%), url("../img/banner-2.jpg");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264B', endColorstr='#00264B',GradientType=0 ), url("../img/banner-2.jpg");
	background-size: cover;
	background-position: center center;
}
.basic-info{
	margin: 25px 0 0;
}
.basic-info > p{
	font-style: italic;
	margin: 20px 0 0;
	color: #F8FAFC;
}
.basic-info-top{
    display: flex;
    align-items: center;
}
.basic-info-top h2{
	font-size: 33px;
	margin-top: 0;
	color: #F8FAFC;
}
.basic-info-top p{
	margin-bottom: 0;
	color: #EEF0F2;
}
.basic-info-top span{
	background: #458DFF;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 0px 7px;
    margin-left: 2px;
}
.basic-info-left{
	padding-left: 20px;
}
.profile-image{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	z-index: 0;
}
.more-info{
	background: #00C4CC;
	overflow: hidden;
	padding: 20px 40px;
	position: relative;
}
.more-info h4{
	color: #fff;
	font-size: 21px;
}
.more-info ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.more-info ul li{
	color: #fff;
	line-height: 1.8em;
	font-size: 15px;
}
.more-info ul li span{
	font-weight: bold;
}
.more-info button {
    position: absolute;
    background: #F8FAFC;
    padding: 10px 25px;
    color: #313131;
    top: 0;
    right: 0;
}

.profile-report-area{
	background: #EEF0F2;
	padding: 0 0 60px;
}
.report-heading{
	overflow: hidden;
	/*margin: 0 11px 0;*/
	margin: 60px 11px 25px;
}
.report-heading h2{
	margin: 2px 0 0;
    font-size: 36px;
}
.report-heading button{
	color: #fff;
	background: #458DFF;
	font-size: 18px;
	padding: 10px 40px;
}
.reports{
	display: flex;
	flex-wrap: wrap;
}
.single-report{
	width: calc(25% - 22px);
	margin: 0 11px 28px;
	box-shadow: 0 0 10px 0 rgba(49,49,49,0.1);
	background: #F8FAFC;
}
.report-thumbnail{
	width: 100%;
	height: 150px;
	cursor: pointer;
	background: rgba(45,64,71,0.4);
}
.report-thumbnail img{
	transition: filter 0.2s ease-in-out;
}
.blur .report-thumbnail img{
	/*filter:blur(5px);*/
	/*width: 100%;*/
	display: none;
}
.report-thumbnail:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(45,64,71,0.4);
	background: -moz-linear-gradient(top, rgba(45,64,71,1,0.4) 0%, rgba(45,64,71,1,0.4) 100%);
	background: -webkit-linear-gradient(top, rgba(45,64,71,1,0.4) 0%,rgba(45,64,71,1,0.4) 100%);
	background: linear-gradient(to bottom, rgba(45,64,71,1,0.4) 0%,rgba(45,64,71,1,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4047', endColorstr='#2d4047',GradientType=0 );
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.report-thumbnail:hover:before{
	opacity: 1;
}
.report-thumbnail span{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%,-50%);
	font-family: 'ProductSans-Regular', sans-serif;
	background: #276FF1;
	color: #fff;
	padding: 3px 12px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.report-thumbnail:hover span{
	opacity: 1;
}
.report-images{}
.report-text{
	overflow: hidden;
	padding: 0 25px 12px;
}
.report-text h3{
	font-size: 20px;
	margin-bottom: 5px;
}
.report-text h3 + p{
	color: #768487;
    font-size: 13px;
}
.report-text p:last-child{
	display: none;
}
