<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medi-Care</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:200,300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-white">
		<div class="container">
			<a href="index.html" class="logo pull-left">
				<img src="img/logo-black.png" alt="">
			</a>
			<nav class="pull-right" style="display:none">
				<ul>
					<li><button data-toggle="modal" data-target="#sign-up-modal">Sign Up</button></li>
					<li><button class="sign-in" data-toggle="modal" data-target="#sign-in-modal">Sign In</button></li>
				</ul>
			</nav>
			<div class="logged-in-nav pull-right">
				<form action="" class="pull-left">
					<input type="text" placeholder="Search people">
					<input type="submit">
				</form>
				<ul class="logged-in-menu pull-right">
					<li class="user-info">
						<a href="#">
							<span>Jitu Raiyan</span>
							<div class="user-image cover-image">
								<img src="img/users/user-1.jpg" alt="">
							</div>
						</a>
					</li>
					<li class="user-settings">
						<button>
							<i class="glyphicon glyphicon-cog"></i>
						</button>
						<ul class="logged-in-dropdown-menu">
							<li>
								<a href="#">View profile</a>
							</li>
							<li>
								<a href="#">Log out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section class="profile-info-area">
		<div class="container">
			<div class="col-md-5 col-md-offset-1">
				<div class="basic-info">
					<div class="basic-info-top">
						<div class="profile-image cover-image">
							<img src="img/users/user-1.jpg" alt="">
						</div>
						<div class="basic-info-left">
							<h2>Jitu Raiyan</h2>
							<p>Patient <span>PRO</span></p>
						</div>
					</div>
					<p><span>Joined on </span><strong>1 August, 2017</strong></p>
				</div>

			</div>
			<div class="col-md-5">
				<div class="more-info">
					<h4>Other information</h4>
					<ul>
						<li><span>Email:</span> jituraiyan@gmail.com</li>
						<li><span>Phone no:</span> +8801790127489</li>
						<li><span>Address:</span> 16/9, Mirpur 1, Dhaka, Bangladesh</li>
						<li><span>Profession:</span> Student</li>
						<li><span>NID:</span> 2695047100023</li>
						<li><span>Age:</span> 24</li>
					</ul>
					<button data-toggle="modal" data-target=".enter-digit">See Reports</button>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="upper-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h3>About Us</h3>
						<p>Welcome to SO. Please have a look at the tour. You may also want to check How to ask a good question, and how to create a Minimal, Complete and Verifiable example.</p>
						<p>Post the code you have tried and the errors you have received. Be as specific as possible as it will lead to better answers. You can use this question checklist in order to be sure your question is not missing anything important</p>
					</div>
					<div class="col-md-3">
						<h3>Contact Us</h3>
						<form action="">
							<input type="text" placeholder="Your name">
							<input type="email" placeholder="Email">
							<input type="text" placeholder="mobile number">
							<textarea name="" id="" cols="30" rows="5" placeholder="Your message"></textarea>
							<button type="submit">SEND MAIL</button>
						</form>
					</div>
					<div class="col-md-6">
						<h3>Where We Are</h3>
						<div class="contact-info">
							<div class="contact-map pull-left">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1826739721478!2d90.37228181423257!3d23.740864395059127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4ac8e87751%3A0xb69305423ba5f5ef!2sUniversity+of+Liberal+Arts+Bangladesh(Campus+A)!5e0!3m2!1sen!2sbd!4v1510261510139" width="400" height="258" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<div class="contact-text pull-left">
								<h4>Our Location:</h4>
								<p>House No. 56, Road No. 4/A, Satmasjid Road, Dhaka 1209</p>
								<p><a href="https://www.google.com/maps/place/University+of+Liberal+Arts+Bangladesh(Campus+A)/@23.74086,90.374471,15z/data=!4m5!3m4!1s0x0:0xb69305423ba5f5ef!8m2!3d23.7408595!4d90.3744705?hl=en-US" target="_blank">GET DIRECTION >></a></p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lower-footer">
			<div class="container">
				<p>&copy;All right reserved by MediCare</p>
			</div>
		</div>
	</footer>


	<!-- Modal -->
	<div class="enter-digit modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<form action="profile.html">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Verification Required</h4>
				</div>
				<div class="modal-body">
					<input type="text" placeholder="Enter the 4-digit pin your client recieved">
				</div>
				<div class="modal-footer">
					<button type="submit">Send</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery-3.2.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/cover-image.js"></script>
</body>
</html>